<%= form_with model: article do |form| %>
    <p>
    <div class="col w-50 p-3">
    <h2>Edit your article:</h2>
        <div class="row">
        <%= form.label :title %><br>
            <div class="input-group mb-3">
            
            <%= form.text_field :title, {class: 'form-control'} %>
            <div>
        <% article.errors.full_messages_for(:title).each do |message| {class: 'form-control'} %>
            <div><%= message %></div>
                <% end %>
            </div>

            </div>
        </div>
        <div class="row">
        <%= form.label :body %><br>
            <div class="input-group">
            <%= form.text_area :body, {placeholder: 'Comment', class: 'form-control'} %>
            </div>
        </div>

        <p>
        <div class="row">
        <%= form.label :status %><br>
            <div class="input-group mb-3">
                <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: 'form-control' %>
            </div>
            
            
</p>
            </div>
                <p>
                    <%= form.submit(class: 'btn btn-primary btn-lg') %>
                </p>
                <p>
            
            </p>
        </p>
</div>
    
<% end %>
